
<h1>Users:</h1>
<% @app.each do |app| %>
  <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a href="/funbear/<%= app.id %>"><img src="<%= app.picture %>" alt="" width="350px" height="350px"></a>
          <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset2">
        <ul>
          <li>
            <h4><%= app.name %></h4>
            <a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/<%= app.id %>"><b>show</b></a> |
            <a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/<%= app.id %>/edit"><b>edit</b></a> |
            <a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/<%= app.id %>/destroy"><b>destroy</b></a> 
          </li>
        </ul>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<br>