<a href="https://www.facebook.com/pages/Carl-Sagan/7062124866"><h2><b><%=@name=%></b></h2></a> <p class="pine"><%=@memberstatus=%></p>
<div class="container">
  <div class="row">
      <div class = "col-md-4"><img src="<%=@picture=%>" alt="" width="350px" height="250px"></div>
 
    <div class="col-md-8"> <p><%=@bio=%></p>
      <br>
      <br>
      <p><b>Location:</b><%=@location=%></p>
       <br>
        <p><b>Completion:</b></p><div id=<%=@completion=%>>
        <div></div>
</div>
      </div>
  </div>
</div>