<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://www.favicongenerator.com/favicon2/search-20140722-favicon.ico">
  <title>Profiles</title>
  <script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear">Profiles</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/1">Carl Sagan</a></li>
       <li><a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/2">Stephen Hawking</a></li>
       <li><a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/funbear/3">Kim Dotcom</a></li>
       <li><a href="http://formidable-casterly-rock-91-130975.use1-2.nitrousbox.com/new_user">New User</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <div>
    <% if session['username'] %>
    You're signed in, <%= session['username'] %>
    <button><a href="/sessions/destroy">Sign Out</a></button>
    <% else %>
    <button><a href="sessions/new">Sign In</a></button>
    <% end %>
  </div>
<h1>Most awesome app</h1>
<%= yield %>
<!-- begin htmlcommentbox.com -->
 <div id="HCB_comment_box" class="pine"><a href="http://www.htmlcommentbox.com">Comments</a> are loading... Please wait...</div>
 <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location).replace(/'/g,"%27") || hcb_user.PAGE, h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->
      
</body>
</html>
